@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 220 20% 97%;
  --foreground: 224 71% 4%;
  --card-background: 0 0% 100%;
  --card-border: 220 13% 91%;
  --card-foreground: 224 71% 4%;
}
